<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <description>Spring MVC Configuration</description>

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:plant-platform.properties"/>

    <!-- 使用 Annotation 自动注册 Bean,只扫描 @Controller -->
    <context:component-scan base-package="com.rlws.plant.web.api.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 默认的注解映射的支持,不能丢,丢了注解就没用了 -->
    <mvc:annotation-driven/>

    <!-- 文件上传拦截器,设置最大上传文件大小 10M -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <!--注解驱动器-->
    <mvc:annotation-driven>
        <!--消息转化器-->
        <mvc:message-converters>
            <!--配置以下bean，解决json数据传输中中文乱码的问题-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!--json数据转换-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 配置登录拦截器 -->
        <mvc:interceptor>
            <!-- 拦截所有路径下的请求 -->
            <mvc:mapping path="/**/**"/>
            <bean class="com.rlws.plant.web.api.interceptor.IpInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <bean id="methodCacheInterceptor" class="com.rlws.plant.web.api.redis.MethodCacheInterceptor"></bean>

    <aop:config>
        <!--切入点-->
        <aop:pointcut id="methodPoint"
                      expression="execution(* com.rlws.plant.web.api.controller.*.*(..)) "/><!--在该切入点使用自定义拦截器-->
        <aop:advisor pointcut-ref="methodPoint" advice-ref="methodCacheInterceptor"/>
    </aop:config>
</beans>